@page "/transacoes"
@inherits ObterTodasTransacoesPage


<MudText Typo="Typo.h3">Transações</MudText>
<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.TwoTone.Add"
               Href="/transacoes/adicionar">
        Nova Transação
    </MudButton>
</div>

<MudDataGrid Class="mt-4"
             Items="@Transacoes"
             Filterable="true">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.Titulo" Title="Transação" />
        @if (IsBusy)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else
        {
            <TemplateColumn class="d-flex justity-end" Filterable="false">
                <CellTemplate>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                   Color="Color.Error"
                                   title="excluir"
                                   OnClick="() => OnDeleteButtonClickedAsync(context.Item.Id, context.Item.Titulo)">
                    </MudIconButton>
                </CellTemplate>
            </TemplateColumn>
        }
    </Columns>
</MudDataGrid>
